In [12]:
# Important imports
import numpy as np
import pandas as pd
import kagglehub
import glob
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus
import os
from dotenv import load_dotenv

In [2]:
#first dataset
from ucimlrepo import fetch_ucirepo
automobile = fetch_ucirepo(id=10)
df = automobile.data.features

In [3]:
#second dataset


# Download latest version
path = kagglehub.dataset_download("doaaalsenani/usa-cers-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\patri\.cache\kagglehub\datasets\doaaalsenani\usa-cers-dataset\versions\1

In [4]:
#third dataset

# Download latest version
path = kagglehub.dataset_download("nehalbirla/vehicle-dataset-from-cardekho")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\patri\.cache\kagglehub\datasets\nehalbirla\vehicle-dataset-from-cardekho\versions\4

In [5]:
print("ðŸ“¥ Loading UCI Automobile dataset...")
from ucimlrepo import fetch_ucirepo


# Fetch dataset
automobile = fetch_ucirepo(id=10)

# Get features and targets
df_features = automobile.data.features
df_targets = automobile.data.targets

# Combine them (if targets exist)
if df_targets is not None:
    df = pd.concat([df_features, df_targets], axis=1)
else:
    df = df_features

print(f"âœ… Loaded {len(df)} rows from UCI")
print(f"Columns: {list(df.columns)}")

# Check if dataframe is actually populated
print(df.head())
print(df.info())

# Clean column names
df.columns = df.columns.str.lower().str.replace('-', '_').str.replace(' ', '_')

# Convert data types (important for PostgreSQL!)
# Handle numeric columns
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Replace NaN with None for SQL NULL
df = df.replace({np.nan: None})

# Upload to AWS RDS
load_dotenv()
password = os.getenv('DB_PASSWORD') or input("Enter password: ")
host = os.getenv('DB_HOST', 'car-analytics-db.copkksw0o3bx.us-east-1.rds.amazonaws.com')
user = os.getenv('DB_USER', 'ds5230_postgres')

password_encoded = quote_plus(password)
engine = create_engine(f'postgresql://{user}:{password_encoded}@{host}:5432/car_analytics_db')

# Upload (use 'replace' to overwrite the empty table)
df.to_sql('staging_uci_cars', engine, if_exists='replace', index=False)

print(f"âœ… Uploaded {len(df)} rows to staging_uci_cars!")

ðŸ“¥ Loading UCI Automobile dataset...
âœ… Loaded 205 rows from UCI
Columns: ['price', 'highway-mpg', 'city-mpg', 'peak-rpm', 'horsepower', 'compression-ratio', 'stroke', 'bore', 'fuel-system', 'engine-size', 'num-of-cylinders', 'engine-type', 'curb-weight', 'height', 'width', 'length', 'wheel-base', 'engine-location', 'drive-wheels', 'body-style', 'num-of-doors', 'aspiration', 'fuel-type', 'make', 'normalized-losses', 'symboling']
     price  highway-mpg  city-mpg  peak-rpm  horsepower  compression-ratio  \
0  13495.0           27        21    5000.0       111.0                9.0
1  16500.0           27        21    5000.0       111.0                9.0
2  16500.0           26        19    5000.0       154.0                9.0
3  13950.0           30        24    5500.0       102.0               10.0
4  17450.0           22        18    5500.0       115.0                8.0

   stroke  bore fuel-system  engine-size  ...  wheel-base engine-location  \
0    2.68  3.47        mpfi          130  ...        88.6           front
1    2.68  3.47        mpfi          130  ...        88.6           front
2    3.47  2.68        mpfi          152  ...        94.5           front
3    3.40  3.19        mpfi          109  ...        99.8           front
4    3.40  3.19        mpfi          136  ...        99.4           front

   drive-wheels   body-style  num-of-doors  aspiration  fuel-type  \
0           rwd  convertible           2.0         std        gas
1           rwd  convertible           2.0         std        gas
2           rwd    hatchback           2.0         std        gas
3           fwd        sedan           4.0         std        gas
4           4wd        sedan           4.0         std        gas

          make normalized-losses symboling
0  alfa-romero               NaN         3
1  alfa-romero               NaN         3
2  alfa-romero               NaN         1
3         audi             164.0         2
4         audi             164.0         2

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              201 non-null    float64
 1   highway-mpg        205 non-null    int64
 2   city-mpg           205 non-null    int64
 3   peak-rpm           203 non-null    float64
 4   horsepower         203 non-null    float64
 5   compression-ratio  205 non-null    float64
 6   stroke             201 non-null    float64
 7   bore               201 non-null    float64
 8   fuel-system        205 non-null    object
 9   engine-size        205 non-null    int64
 10  num-of-cylinders   205 non-null    int64
 11  engine-type        205 non-null    object
 12  curb-weight        205 non-null    int64
 13  height             205 non-null    float64
 14  width              205 non-null    float64
 15  length             205 non-null    float64
 16  wheel-base         205 non-null    float64
 17  engine-location    205 non-null    object
 18  drive-wheels       205 non-null    object
 19  body-style         205 non-null    object
 20  num-of-doors       203 non-null    float64
 21  aspiration         205 non-null    object
 22  fuel-type          205 non-null    object
 23  make               205 non-null    object
 24  normalized-losses  164 non-null    float64
 25  symboling          205 non-null    int64
dtypes: float64(12), int64(6), object(8)
memory usage: 41.8+ KB
None
âœ… Uploaded 205 rows to staging_uci_cars!

In [6]:
# Get database connection once
load_dotenv()
password = os.getenv('DB_PASSWORD') or input("Enter password: ")
host = os.getenv('DB_HOST', 'car-analytics-db.copkksw0o3bx.us-east-1.rds.amazonaws.com')
user = os.getenv('DB_USER', 'ds5230_postgres')
password = quote_plus(password)
engine = create_engine(f'postgresql://{user}:{password}@{host}:5432/car_analytics_db')

# Dataset 1: UCI Automobile (if you have it downloaded already)
# Skip if you don't have the CSV file

# Dataset 2: US Cars
print("\nðŸ“¥ Dataset 2: US Cars")
path = kagglehub.dataset_download("doaaalsenani/usa-cers-dataset")
df_us = pd.read_csv(glob.glob(f"{path}/*.csv")[0])
df_us.columns = df_us.columns.str.lower().str.replace(' ', '_')
df_us.to_sql('staging_us_cars', engine, if_exists='replace', index=False)
print(f"âœ… Loaded {len(df_us)} rows to staging_us_cars")

# Dataset 3: CarDekho
print("\nðŸ“¥ Dataset 3: CarDekho")
path = kagglehub.dataset_download("nehalbirla/vehicle-dataset-from-cardekho")
df_cardekho = pd.read_csv(glob.glob(f"{path}/*.csv")[0])
df_cardekho.columns = df_cardekho.columns.str.lower().str.replace(' ', '_')
df_cardekho.to_sql('staging_cardekho', engine, if_exists='replace', index=False)
print(f"âœ… Loaded {len(df_cardekho)} rows to staging_cardekho")

# Dataset 4: car-models
print("\nðŸ“¥ Dataset 4: CarModels")
path = kagglehub.dataset_download("markmedhat/car-model")
df_cardekho = pd.read_csv(glob.glob(f"{path}/*.csv")[0])
df_cardekho.columns = df_cardekho.columns.str.lower().str.replace(' ', '_')
df_cardekho.to_sql('staging_carmodels', engine, if_exists='replace', index=False)
print(f"âœ… Loaded {len(df_cardekho)} rows to staging_carmodels")

# Dataset 5: USA Mercedes Benz
print("\nðŸ“¥ Dataset 5: USA Mercedes Benz")
path = kagglehub.dataset_download("danishammar/usa-mercedes-benz-prices-dataset")
df_cardekho = pd.read_csv(glob.glob(f"{path}/*.csv")[0])
df_cardekho.columns = df_cardekho.columns.str.lower().str.replace(' ', '_')
df_cardekho.to_sql('staging_us_mercedes', engine, if_exists='replace', index=False)
print(f"âœ… Loaded {len(df_cardekho)} rows to staging_us_mercedes")


print("\nðŸŽ‰ All datasets loaded!")

ðŸ“¥ Dataset 2: US Cars
âœ… Loaded 2499 rows to staging_us_cars

ðŸ“¥ Dataset 3: CarDekho
âœ… Loaded 301 rows to staging_cardekho

ðŸ“¥ Dataset 4: CarModels
âœ… Loaded 13 rows to staging_carmodels

ðŸ“¥ Dataset 5: USA Mercedes Benz
âœ… Loaded 2429 rows to staging_us_mercedes

ðŸŽ‰ All datasets loaded!

In [7]:
# Check what tables we have
tables_query = """
SELECT table_name, 
       (SELECT COUNT(*) FROM information_schema.columns WHERE table_name = t.table_name) as column_count
FROM information_schema.tables t
WHERE table_schema = 'public'
ORDER BY table_name;
"""


result = pd.read_sql(tables_query, engine)
print(result)

            table_name  column_count
0     staging_cardekho             9
1    staging_carmodels             4
2     staging_uci_cars            26
3      staging_us_cars            13
4  staging_us_mercedes             5

In [8]:
# Count rows in each table
counts = pd.read_sql("""
    SELECT 
        'staging_uci_cars' as table_name,
        COUNT(*) as row_count
    FROM staging_uci_cars
    UNION ALL
    SELECT 
        'staging_us_cars',
        COUNT(*)
    FROM staging_us_cars
    UNION ALL
    SELECT 
        'staging_cardekho',
        COUNT(*)
    FROM staging_cardekho;
""", engine)

print(counts)

         table_name  row_count
0  staging_uci_cars        205
1   staging_us_cars       2499
2  staging_cardekho        301

In [9]:
# Preview each dataset
print("=== UCI Cars ===")
print(pd.read_sql("SELECT * FROM staging_uci_cars LIMIT 3", engine))

print("\n=== US Cars ===")
print(pd.read_sql("SELECT * FROM staging_us_cars LIMIT 3", engine))

print("\n=== CarDekho ===")
print(pd.read_sql("SELECT * FROM staging_cardekho LIMIT 3", engine))

print("\n=== CarModels ===")
print(pd.read_sql("SELECT * FROM staging_carmodels LIMIT 3", engine))

print("\n=== USA Mercedes Benz ===")
print(pd.read_sql("SELECT * FROM staging_us_mercedes LIMIT 3", engine))

=== UCI Cars ===
     price  highway_mpg  city_mpg peak_rpm horsepower  compression_ratio  \
0  13495.0           27        21   5000.0      111.0                9.0
1  16500.0           27        21   5000.0      111.0                9.0
2  16500.0           26        19   5000.0      154.0                9.0

  stroke  bore fuel_system  engine_size  ...  wheel_base engine_location  \
0   2.68  3.47        mpfi          130  ...        88.6           front
1   2.68  3.47        mpfi          130  ...        88.6           front
2   3.47  2.68        mpfi          152  ...        94.5           front

   drive_wheels   body_style  num_of_doors  aspiration  fuel_type  \
0           rwd  convertible           2.0         std        gas
1           rwd  convertible           2.0         std        gas
2           rwd    hatchback           2.0         std        gas

          make normalized_losses symboling
0  alfa-romero              None         3
1  alfa-romero              None         3
2  alfa-romero              None         1

[3 rows x 26 columns]

=== US Cars ===
   unnamed:_0  price   brand    model  year   title_status   mileage   color  \
0           0   6300  toyota  cruiser  2008  clean vehicle  274117.0   black
1           1   2899    ford       se  2011  clean vehicle  190552.0  silver
2           2   5350   dodge      mpv  2018  clean vehicle   39590.0  silver

                   vin        lot       state country     condition
0    jtezu11f88k007763  159348797  new jersey     usa  10 days left
1    2fmdk3gc4bbb02217  166951262   tennessee     usa   6 days left
2    3c4pdcgg5jt346413  167655728     georgia     usa   2 days left

=== CarDekho ===
  car_name  year  selling_price  present_price  kms_driven fuel_type  \
0     ritz  2014           3.35           5.59       27000    Petrol
1      sx4  2013           4.75           9.54       43000    Diesel
2     ciaz  2017           7.25           9.85        6900    Petrol

  seller_type transmission  owner
0      Dealer       Manual      0
1      Dealer       Manual      0
2      Dealer       Manual      0

=== CarModels ===
  car_model  mileage  sell_price($)  age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5

=== USA Mercedes Benz ===
                                      name     mileage  rating review_count  \
0  2021 Mercedes-Benz A-Class A 220 4MATIC  29,636 mi.     3.9       1,800
1        2022 Mercedes-Benz AMG SL 63 Base   5,540 mi.     4.7       1,239
2        2022 Mercedes-Benz AMG SL 63 Base   4,890 mi.     4.7       1,239

      price
0   $30,900
1  $139,999
2  $132,999

In [24]:
"""Processing and combine table staging_us_mercedes and staging_us_cars by executing PostgrestSQL queries"""
with engine.connect() as connection:
    # Create Dummy table     
    creation_query = text("""CREATE TABLE testing_table2 AS TABLE staging_us_mercedes; 
                            CREATE TABLE combined_table AS TABLE staging_us_cars;""")
    # Modifying dummy tables
    alteration_query = text("""ALTER TABLE testing_table2 ADD COLUMN IF NOT EXISTS year INTEGER;
        UPDATE testing_table2
        SET year = CAST(SUBSTRING(name FROM 1 FOR 4) AS INTEGER);
        ALTER TABLE testing_table2 ADD COLUMN brand text DEFAULT 'mercedes-benz';
        ALTER TABLE testing_table2 ADD COLUMN title_status text DEFAULT 'clean vehicle';
        delete from testing_table2 where price = 'Not Priced';
        ALTER TABLE testing_table2
        ALTER COLUMN price TYPE BIGINT
        USING (REPLACE(REPLACE(price, '$', ''), ',', '')::NUMERIC)::BIGINT;
        ALTER TABLE testing_table2
        ALTER COLUMN mileage TYPE BIGINT
        USING (REPLACE(REPLACE(mileage, ' mi', ''), ',', '')::NUMERIC)::BIGINT;
        ALTER TABLE testing_table2 DROP COLUMN rating;
        ALTER TABLE testing_table2 DROP COLUMN review_count;
        ALTER TABLE testing_table2 DROP COLUMN name;""")

    # inserting value from one table to another
    insertion_query = text("""INSERT INTO combined_table (mileage, price, year, brand, title_status)
        SELECT mileage, price, year, brand, title_status
        FROM testing_table2;""")
    connection.execute(creation_query)
    connection.execute(alteration_query)
    connection.execute(insertion_query)
    connection.commit()

In [31]:
# Create a main table to process data
main_table = pd.read_sql("""
    SELECT *
    FROM combined_table""", engine)
main_table

,unnamed:_0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0.0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797.0,new jersey,usa,10 days left
1,1.0,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262.0,tennessee,usa,6 days left
2,2.0,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728.0,georgia,usa,2 days left
3,3.0,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855.0,virginia,usa,22 hours left
4,4.0,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266.0,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4922,NaN,53490,mercedes-benz,None,2021,clean vehicle,54422.0,None,None,NaN,None,None,None
4923,NaN,89599,mercedes-benz,None,2022,clean vehicle,11395.0,None,None,NaN,None,None,None
4924,NaN,32890,mercedes-benz,None,2021,clean vehicle,30392.0,None,None,NaN,None,None,None
4925,NaN,53983,mercedes-benz,None,2023,clean vehicle,3413.0,None,None,NaN,None,None,None
4926,NaN,46035,mercedes-benz,None,2023,clean vehicle,6336.0,None,None,NaN,None,None,None